<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/> 
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/> 

</head>

<body>
<h1>Schedule</h1>

<table class="class-schedule">
  {% for entry in session.schedule %}
  <!--Logic for deciding when to create a row of class "now" to be marked as current week-->
  {% if entry.now == "true" %}
  <tr class="now">
  {% elif loop.index is divisibleby 2 %}
  <tr class="even">
  {% else %}
  <tr class="odd">
  {% endif %}	   
  <!--within row below, add logic statement to check if condition has been met-->
    <td class="week">{{ entry.week }}{{ entry.weekdate }}</td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
  </tr>
  {% endfor %}
  



</body> </html>
